<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="de.pmorjan.TPSM" android-versionCode="34" version="1.34">
    <name>Pwcalc</name>
    <description>
        SHA1 Password Calculator
    </description>
    <author email="pmorjan@gmail.com">
        P.Morjan
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="DisallowOverscroll" value="true"/>
    <platform name="android">
        <icon src="res/android/ldpi.png" density="ldpi" />
        <icon src="res/android/mdpi.png" density="mdpi" />
        <icon src="res/android/hdpi.png" density="hdpi" />
        <icon src="res/android/xhdpi.png" density="xhdpi" />
    </platform>
    <preference name="KeepRunning" value="false"/>
    <preference name="BackgroundColor" value="0xff000000"/>
</widget>
